apiVersion: v1
kind: ConfigMap
metadata:
  name: velocity-config
  namespace: minecraft
data:
  velocity.toml: |
    config-version = "2.0"

    bind = "0.0.0.0:25565"
    motd = "<green>Hexagon Labs Proxy</green>"
    show-max-players = 100
    online-mode = true
    player-info-forwarding-mode = "modern"
    forwarding-secret-file = "forwarding.secret"

    [servers]
    fabric = "fabric.minecraft.svc.cluster.local:25565"

