apiVersion: v1
kind: ConfigMap
metadata:
  name: frigate-config
  namespace: cctv
data:
  config.yml: |
    mqtt:
      enabled: false
    detectors:
      cpu1:
        type: cpu
    cameras:
      birdfeeder:
        ffmpeg:
          input_args: preset-rtsp-generic
          inputs:
            - path: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@192.168.2.50:554/stream1
              roles: [detect, record]
        detect:
          enabled: true
          width: 1280
          height: 720
        motion:
          threshold: 40
          contour_area: 25
        objects:
          track: [bird]
          filters:
            bird:
              min_area: 800
              max_area: 200000
              threshold: 0.55

        record:
          enabled: true
          retain:
            days: 2
            mode: motion
        snapshots:
          enabled: true
          timestamp: false
          retain:
            default: 2
